<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387976712874-2or77slc1r4jujlfs0va1u936lp5th88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387976712874-2or77slc1r4jujlfs0va1u936lp5th88</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387976712874-mohnv4up7tef2rtiqu7i09pqk22mkbqd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7EOUBixPPkWrheYQP-haGzctxJMqjx-g</string>
	<key>GCM_SENDER_ID</key>
	<string>387976712874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hbruw.eventsmag</string>
	<key>PROJECT_ID</key>
	<string>eventsmag-dd342</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsmag-dd342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387976712874:ios:08059c05b4e8bf7af076d3</string>
	<key>DATABASE_URL</key>
	<string>https://eventsmag-dd342.firebaseio.com</string>
</dict>
</plist>